{% extends "base.html" %}
{% block title %}Asset {{labels[uri]}}{% endblock %}
{% block content %}

    <h1>Asset {{uri}}</h1>
    <p>URI: {{uri}}</p>
    <p>Package: <a href="../../package/{{package}}/index.html">{{package}}</a></p>
    {% if prev_uri and next_uri %}
        <p><a href="../{{prev_uri}}/index.html">< prev</a> | <a href="../{{next_uri}}/index.html">next ></a></p>
    {% elif next_uri %}
        <p><a href="../{{next_uri}}/index.html">next ></a></p>
    {% elif prev_uri %}
        <p><a href="../{{prev_uri}}/index.html">< prev</a></p>
    {% endif %}
    <p>Description: {{descriptions[uri]|safe}}</p>

    <!-- <div class="accordion" id="accordionPanelsStayOpen2">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-asset">
                <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-asset" aria-expanded="true" aria-controls="panelsStayOpen-collapse-asset">
                    Assets ({{assets|length}})
                </button>
            </h2>

            <div id="panelsStayOpen-collapse-asset" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-asset">
                <div class="accordion-body">
                    <table style="max-width: 90%;">
                        {% for x in assets %}
                            <tr class="description-table">
                                <td class="description-title"><p><a href="../../asset/{{x}}/index.html">{{x}}</a></p></td>
                                <td><p>{{descriptions[x]|safe}}</p></td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if assets|length == 0 %}
                        <p>&nbsp &nbsp &nbsp &nbsp (empty)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div> -->

{% endblock %}