{% extends "base.html" %}
{% block title %}Control Strategy {{labels[uri]}}{% endblock %}
{% block content %}

    <h1>Control Strategy {{labels[uri]}}</h1>
    <p>Package: <a href="../../package/{{package}}/index.html">{{labels[package]}}</a></p>
    {% if prev_uri and next_uri %}
        <p><a href="../{{prev_uri}}/index.html">< prev</a> | <a href="../{{next_uri}}/index.html">next ></a></p>
    {% elif next_uri %}
        <p><a href="../{{next_uri}}/index.html">next ></a></p>
    {% elif prev_uri %}
        <p><a href="../{{prev_uri}}/index.html">< prev</a></p>
    {% endif %}
    <p>Description: {{descriptions[uri]|safe}}</p>

    <div class="accordion" id="accordionPanelsStayOpen">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-mitigated">
                <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-mitigated" aria-expanded="true" aria-controls="panelsStayOpen-collapse-mitigated">
                    Mitigated Threats ({{mitigated|length}})
                </button>
            </h2>

            <div id="panelsStayOpen-collapse-mitigated" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-mitigated">
                <div class="accordion-body">

                    <div class="row">
                        {% for x in mitigated %}
                            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                <a href="../../threat/{{x}}/index.html" class="bland-link">
                                    <div class="card threat-card">
                                        <div class="card-image-box">
                                            <img src="../../static/Threat/{{x}}.svg" class="card-img-top" alt="{{labels[uri]}}" title="{{labels[uri]}}">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{labels[x]}}</h5>
                                            <p class="card-text">{{descriptions[x]|safe}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% if mitigated|length == 0 %}
                        <p>&nbsp &nbsp &nbsp &nbsp (empty)</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionPanelsStayOpen2">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-blocked">
                <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-blocked" aria-expanded="true" aria-controls="panelsStayOpen-collapse-blocked">
                    Blocked Threats ({{blocked|length}})
                </button>
            </h2>

            <div id="panelsStayOpen-collapse-blocked" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-blocked">
                <div class="accordion-body">

                    <div class="row">
                        {% for x in blocked %}
                            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                <a href="../../threat/{{x}}/index.html" class="bland-link">
                                    <div class="card threat-card">
                                        <div class="card-image-box">
                                            <img src="../../static/Threat/{{x}}.svg" class="card-img-top" alt="{{labels[uri]}}" title="{{labels[uri]}}">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{labels[x]}}</h5>
                                            <p class="card-text">{{descriptions[x]|safe}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% if blocked|length == 0 %}
                            <p>&nbsp &nbsp &nbsp &nbsp (empty)</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionPanelsStayOpen3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-triggered">
                <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-triggered" aria-expanded="true" aria-controls="panelsStayOpen-collapse-triggered">
                    Triggers Threats ({{triggers|length}})
                </button>
            </h2>

            <div id="panelsStayOpen-collapse-triggered" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-triggered">
                <div class="accordion-body">

                    <div class="row">
                        {% for x in triggers %}
                            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                <a href="../../threat/{{x}}/index.html" class="bland-link">
                                    <div class="card threat-card">
                                        <div class="card-image-box">
                                            <img src="../../static/Threat/{{x}}.svg" class="card-img-top" alt="{{labels[uri]}}" title="{{labels[uri]}}">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{labels[x]}}</h5>
                                            <p class="card-text">{{descriptions[x]|safe}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% if triggers|length == 0 %}
                            <p>&nbsp &nbsp &nbsp &nbsp (empty)</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionPanelsStayOpen4">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-control-sets">
                <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-control-sets" aria-expanded="true" aria-controls="panelsStayOpen-collapse-control-sets">
                    Control Sets ({{assets|length}})
                </button>
            </h2>

            <div id="panelsStayOpen-collapse-control-sets" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-control-sets">
                <div class="accordion-body">
                    {% for x in range(controls|length) %}
                        <p><a href="../../control/{{controls[x]}}/index.html">{{labels[controls[x]]}}</a>
                            at <a href="../../asset/{{assets[x]}}/index.html">{{labels[assets[x]]}}</a>
                            {% if optionals[x] %}
                                 - OPTIONAL
                            {% endif %}
                        </p>
                    {% endfor %}
                    {% if controls|length == 0 %}
                        <p>&nbsp &nbsp &nbsp &nbsp (empty)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}