{% extends "base.html" %}
{% block title %}Root {{labels[uri]}}{% endblock %}
{% block content %}

    <h1>Root {{labels[uri]}}</h1>
    <p>Package: <a href="../../package/{{package}}/index.html">{{labels[package]}}</a></p>
    {% if prev_uri and next_uri %}
        <p><a href="../{{prev_uri}}/index.html">< prev</a> | <a href="../{{next_uri}}/index.html">next ></a></p>
    {% elif next_uri %}
        <p><a href="../{{next_uri}}/index.html">next ></a></p>
    {% elif prev_uri %}
        <p><a href="../{{prev_uri}}/index.html">< prev</a></p>
    {% endif %}
    <p>Description: {{descriptions[uri]|safe}}</p>
    <embed type="image/svg+xml" src="../../static/Root/{{uri}}.svg" class="pattern-image" alt="{{labels[uri]}}" title="{{labels[uri]}}">

    <div class="accordion" id="accordionPanelsStayOpen">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-matching">
                <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-matching" aria-expanded="true" aria-controls="panelsStayOpen-collapse-matching">
                    Matching Patterns ({{matchings|length}})
                </button>
            </h2>

            <div id="panelsStayOpen-collapse-matching" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-matching">
                <div class="accordion-body">

                    <div class="row">
                        {% for x in matchings %}
                            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                <a href="../../matching/{{x}}/index.html" class="bland-link">
                                    <div class="card">
                                        <div class="card-image-box">
                                            <img src="../../static/Matching/{{x}}.svg" class="card-img-top" alt="{{labels[uri]}}" title="{{labels[uri]}}">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{labels[x]}}</h5>
                                            <p class="card-text">{{descriptions[x]|safe}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% if matchings|length == 0 %}
                            <p>&nbsp &nbsp &nbsp &nbsp (empty)</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}