{% extends "base.html" %}
{% block title %}Construction Patterns{% endblock %}
{% block content %}

    <h1>Construction Patterns - By Priority</h1>
    <a href="../../construction/list/index.html"><p>click to view by package</p></a>
    <div class="accordion" id="accordionPanelsStayOpen">
        {% for i in range (priorities|length) %}
            {% if priorities[i]|length > 0 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading{{i}}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{i}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{i}}">
                        {{i}},000s ({{priorities[i]|length}})
                      </button>
                    </h2>

                    <div id="panelsStayOpen-collapse{{i}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{i}}">
                        <div class="accordion-body">

                            <div class="row">
                                {% for x in priorities[i] %}
                                    <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                        <a class="bland-link" href="../{{x}}/index.html">
                                            <div class="card">
                                                <div class="card-image-box">
                                                    <img src="../../static/Construction/{{x}}.svg" class="card-img-top" alt="{{labels[uri]}}" title="{{labels[uri]}}">
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{labels[x]}}</h5>
                                                    <p class="card-text">{{descriptions[x]|safe}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}