{% extends "base.html" %}
{% block title %}Root Patterns{% endblock %}
{% block content %}

    <h1>Root Patterns</h1>
    <div class="accordion" id="accordionPanelsStayOpen">
        {% for category in categories %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading{{category}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{category}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{category}}">
                    {{category}} ({{categories[category]|length}})
                  </button>
                </h2>

                <div id="panelsStayOpen-collapse{{category}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{category}}">
                    <div class="accordion-body">

                        <div class="row">
                            {% for x in categories[category] %}
                                <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                    <a class="bland-link" href="../{{x}}/index.html">
                                        <div class="card">
                                            <div class="card-image-box">
                                                <img src="../../static/Root/{{x}}.svg" class="card-img-top" alt="{{uri}}" title="{{uri}}">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{x}}</h5>
                                                <p class="card-text">{{descriptions[x]|safe}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}